extends ../layout/gallery.layout.pug
block content
	.title-wrap
		h1.title= title
			hr
			small MySQL, Nodejs-Express를 사용한 갤러리 입니다.
	.list-wrapper
		.grid-stack
			each v in lists
				.grid-stack-item.border(data-gs-width="3" data-gs-height="3")
					img.img(src=`${v.src}`)
