/****************** 갤러리 작성/수정 *******************/
.wr-wrap {}
.wr-wrap > .wr {display: flex; border-bottom: 1px solid #ccc;}
.wr-wrap .wr-title {flex: 20% 0 0; padding: 1rem;}
.wr-wrap .wr-cont {flex: 80% 0 0; padding: 1rem;}
.wr-wrap input[name='writer'] {max-width: 200px;}
.wr-wrap textarea[name='content'] {height: 200px;}
.wr-wrap .wr-bts {padding: 1rem; text-align: center;}
.wr-wrap .wr-title.def::after {display: inline-block; content: "*"; color: red; font-weight: bold; margin-left: 1rem;}

/* .grid-stack-item {width: 20%;} */
.page-item.active .page-link {color: #fff!important; background-color: #444; border-color: #222;}

.list-wrapper .list-sizer, 
.list-wrapper .list,
.list-wrapper .list--width2 {width: 19%; margin: 0.5%; border: 1px solid #ccc; border-radius: 6px; padding: 0.75rem;}
.list-wrapper .list-sizer {border: none; padding: 0;}
.list-wrapper .list--width2 {width: 39%;}

@media screen and (max-width: 991px) {
	.list-wrapper .list-sizer, 
	.list-wrapper .list {width: 24%;}
	.list-wrapper .list--width2 {width: 49%;}
}

@media screen and (max-width: 767px) {
	.list-wrapper .list-sizer, 
	.list-wrapper .list {width: 32.3333%;}
	.list-wrapper .list--width2 {width: 65.6666%;}
}

@media screen and (max-width: 575px) {
	.list-wrapper .list-sizer, 
	.list-wrapper .list {width: 99%;}
	.list-wrapper .list--width2 {width: 99%;}
}