header.header
	h1.logo booldook's Boards
	ul.navi-wrap
		//- each는 pug에서 지원하는 반복문이다.
		each v in navis
			if v.login != undefined
				if user.userid && v.login
					li.navi
						a(href=`${v.link}`)= v.name
				if !user.userid && !v.login
					li.navi
						a(href=`${v.link}`)= v.name
			else
				li.navi
					a(href=`${v.link}`)= v.name