.modal-wrapper
	.bt-close
		i.fa.fa-times
	.modals
		.modal-head
			.bt-info
				i.fa.fa-info-circle
			.bt-download
				i.fa.fa-download
		.modal-cont
			img.def-img(src="")
			img.hover-img(src="")
		.modal-pager
			i.fa.fa-circle.bt-def
			i.fa.fa-circle.bt-hover