ul.pagination.mx-auto
	li.page-item
		a.page-link(href="/gbook/list/1")
			span «
	li.page-item
		a.page-link(href="#") 1
	li.page-item
		a.page-link(href="#") 2
	li.page-item
		a.page-link(href="#") 3
	li.page-item
		a.page-link(href="/gbook/list/")
			span »
