extends ../layout/gallery.layout.pug
block content
	.title-wrap
		h1.title= title
			hr
			small MySQL, Nodejs-Express를 사용한 회원관리 입니다.
	form(name="memberForm" method="post" action="/member/save" onsubmit="return onMemberSubmit(this)")