extends ../layout/default.pug
block content
	.title-wrap
		h1.title GuestBook
			hr
			small MySQL, Nodejs-Express를 사용한 방명록 입니다.
	form(name="gbookForm" method="post" action="/gbook/save")
		.form-inline.justify-content-between
			input.form-control.form-control-lg.border-warning(type="text" name="writer" placeholder="작성자" style="flex: 19% 0 0;")
			input.form-control.form-control-lg.border-warning(type="text" name="comment" placeholder="한줄 내용을 넣어주세요." style="flex: 64% 0 0;")
			button.btn.btn-lg.btn-warning(style="flex: 14% 0 0;") 방명록 작성